* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  overflow-y: auto;
  max-height: 50vh;
  padding-top: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #5cdb95;
}

.container h2 {
  text-align: center;
  color: #f8f00a;
  text-shadow: 2px 2px #343d2c;
}

.container div {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.inputField {
  text-align: center;
  width: 20rem;
  padding: 10px;
  font-size: 16px;
}

.control button {
  background-color: red;
  margin: 2px 8px 2px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}
